<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}

    {#    Navigation bar index.css #}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    ===================================================================
</head>
<body>

{# Navigations bar #}
<ul class="button">
  <li><a class="active" href="/home/">Home</a></li>
  <li><a  href="/admin/" target="_blank">Inbox</a></li>
  <li><a  href="/admin/" target="_blank">Compose</a></li>
  <li><a href="/#home/">SignOut</a></li>
</ul>




</body>
</html>